body{
    background-color: rgb(17, 7, 113);
}
/* nav bar */
.navbar{
    display:flex;
    align-items:center;
    padding-left: 50%;
    background-color:snow;

}
.nav{
    flex: 1;
}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    position: absolute;
}
li{
    display: inline;
    padding: 10px;
    text-align: center;    
}
.row
{
    padding-top: 50px;
}
.col {
    height: 30%;
    width: 30%;
}
#Img2{
    height: 240px;
    width: 30%;
}
/* .dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
} */
/* Dropdown Button */
/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
/*  */
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;
}
.photo{
    max-width: 200px;
    padding: 0px 80px;
    height: 240px;
}
.photo img{
    width: 120%;
    height: 100%;
}
.images-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;
}
h1{
    color: thistle;
    text-align: center;
}
body{
    background-image: url(bground.png);
    background-repeat:no-repeat;
    background-size: 130%
}
.head{
    text-decoration-color: white;
    text-align: center;
}
h3{
    color: white;
}
h4{
    color: white;
}
#select
{
 display: flex;
 box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);

}
